@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

.appear {
  border: pink 4px solid;
}
html, body {
  height: 100%;
  font-family: "Rubik", sans-serif;
  overflow: hidden;
}

body {
  line-height: 1.5;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

.container {
  top: 0;
  bottom: 0;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  margin-bottom: 25px;
}

.cards {
  display: flex;
  margin-left: 200px;
  gap: 15px;
}

.celcius, .fahrenheit {
  color: orange;
}

input {
  border: 1px solid black;
  outline: none;
  width: 150px;
}

button {
  background: #fff;
  color: black;
  outline: none;
  border: 1px solid black;
  margin-left: 10px;
}

form {
  display: flex;
  flex-direction: row;
  width: 250px;
}

.data {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.city {
  font-size: 20px;
}

h3:hover {
  cursor: pointer;
}

h3 {
  display: none;
}

h3.active {
  display: flex;
}